html, body {
  width:728px;
  height:90px;
  margin: 0;
}

#main,
#background {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:90px;
  background-color:#e03c31;
  overflow:hidden;
}

#imageCont {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 728px;
  height: 90px;
  overflow: hidden;
}

#image1,
#image2,
#image3 {
  position:absolute;
  left: 380px;
  top: 0px;
  width: 255px;
  height:auto;
  transform-origin: 50% 50%;
  z-index: 80;
}

#image2,
#image3 {
  top: -90px;
}

.hidden {
  visibility: hidden;
}

.full-width-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 728px;
  height: auto;
}

@font-face {
  font-family: "SeatBlack";
  src: url("./subset-SEATBCN-Black.woff");
}

@font-face {
  font-family: "SeatBold";
  src: url("./subset-SEATBCN-Bold.woff");
}

@font-face {
  font-family: "SeatRegular";
  src: url("./subset-SEATBCN-Regular.woff");
}

sup {
  font-size: 50%;
}

.txt-mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e03c31;
  width: 728px;
  height: 90px;
}

.text {
  color: white;
  position: absolute;
  -webkit-font-smoothing: antialiased; 	       
  -moz-osx-font-smoothing: grayscale;
}

#txt1-mask {
  top: 80px;
}

#txt1 {
  left:20px;
  top: 5px;
  font-size: 20px;
  line-height: 25px;
  font-family: "SeatBlack";
  letter-spacing: 0.005em;
  font-kerning: none;
}

#txt2-mask {
  top: 60px;
}

#terms {
  font-family: "SeatRegular";
  font-size: 8px;
  line-height: 11px;
  left: 20px;
  top: 60px;
}

#terms2 {
  font-family: "SeatRegular";
  font-size: 8px;
  line-height: 11px;
  left: 20px;
  top: 60px;
}

#txt2 {
  left:20px;
  top: 17px;
  font-size: 20px;
  line-height: 27px;
  font-family: "SeatBlack";
  letter-spacing: 0.005em;
  font-kerning: none;
}

#txt3-mask {
  top: 67px;
}

#txt3 {
  left: 20px;
  top: 14px;
  font-size: 29px;
  line-height: 1;
  font-family: "SeatBlack";
  letter-spacing: 0.01em;
}

#txt4-mask {
  top: 77px;
}

#txt4 {
  left:20px;
  top: 46px;
  font-size: 15px;
  line-height: 1;
  font-family: "SeatBlack";
  letter-spacing: 0.005em;
  font-kerning: none;
}

#cta-mask {
  top: 76px;
}

#cta {
  top: 30px;
  left: 175px;
  width: 164px;
  height: 32px;
  background: none;
  box-shadow: none;
  border: 1px solid #ffffff;
  border-radius: 3px;
  font-family: "SeatBold";
  font-size: 12px;
}

/* #logo {
  position: absolute;
  top: 14px;
  left: 20px;
  width: 134px;
  height: auto;
  opacity: 1;
  z-index: 82;
}

#logo-shaddow {
  position: absolute;
  top:0;
  left:0;
  width: 728px;
  height: auto;
} */

#bgExit {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 85;
  background-color: rgba(255,255,255,0);
  border:1px solid #000000;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.terms #asterisk{
  top: 2px;
  position: relative;
}